{% extends 'layouts/base.html' %}

{% block title %} Devbox Services {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} Remote Services bg-gray-100 {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-light.html" %}



  <section class="py-3">
    <div class="bg-gradient-primary position-relative m-3 border-radius-xl">
      <img src="https://appsrv1-147a1.kxcdn.com/soft-ui-design-pro-flask-v1.0.5/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-6">
      <div class="container pb-lg-9 pb-7 pt-7 postion-relative z-index-2">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <span class="badge bg-gradient-dark mb-2">Pricing</span>
            <h3 class="text-white">See our pricing</h3>
            <p class="text-white">You have Free Unlimited Updates and Support on each package.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-n8">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 ms-auto">
            <div class="card border-radius-top-end-lg-0 border-radius-bottom-end-lg-0">
              <div class="card-header text-center pt-4 pb-3">
                <h6 class="text-dark opacity-8 mb-0">Starter</h6>
                <h1 class="font-weight-bolder">
                  <small>$</small>79
                </h1>
                <div class="ps-2">
                  <span class="text-sm">per month</span>
                </div>
              </div>
              <div class="card-body mx-auto pt-0">


                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 AI Agent Host</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 HP Microserver gen8</span>
                  </div>
                </div>
  
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">4 vCPU 8 Threads 16GB</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">250GB SSD</span>
                    </div>
                  </div>
  
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">2.7TB raid storage</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Ubuntu 22.04</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">SSH Access</span>
                  </div>
                </div>


                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Backup every hour</span>
                    </div>
                  </div>


                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Private GitHub Repository</span>
                    </div>
                  </div>

                  
                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">CI/CD Pipeline</span>
                    </div>
                  </div>

                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Prometheus Metrics</span>
                    </div>
                  </div>

                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Fully-Managed</span>
                    </div>
                  </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Lite support</span>
                    </div>
                  </div>
  

              </div>
              <div class="card-footer pt-0">
                <a href="/contact" class="btn w-100 bg-gradient-dark mb-0">
                  request demo
                </a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 p-md-0 mb-lg-auto mb-4 z-index-2">
            <div class="card">
              <div class="card-header text-center pt-4 pb-3">
                <h6 class="text-dark opacity-8 text mb-0 mt-2">Standard</h6>
                <h1 class="font-weight-bolder">
                  <small>$</small>99
                </h1>

                <div class="ps-2">
                  <span class="text-sm">per month</span>
                </div>
              </div>
              <div class="card-body mx-auto pt-0">

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 AI Agent Lab</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">1 HP Microserver gen8</span>
                  </div>
                </div>
  
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">4 vCPU 8 Threads 16GB</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">250GB SSD</span>
                    </div>
                  </div>
  
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">2.7TB raid storage</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Ubuntu 22.04</span>
                  </div>
                </div>

                
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">SSH Access</span>
                  </div>
                </div>

  
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Backup every hour</span>
                  </div>
                </div>


                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Private GitHub Repository</span>
                  </div>
                </div>


                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">CI/CD Pipeline</span>
                    </div>
                  </div>

                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Prometheus Metrics</span>
                    </div>
                  </div>

                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Fully-Managed</span>
                    </div>
                  </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Premium support</span>
                    </div>
                  </div>
  
                
              </div>
              <div class="card-footer pt-0">
                <a href="/contact" class="btn btn-icon bg-gradient-primary d-block mb-0 icon-move-right"> request demo
                  <i class="fas fa-arrow-right ms-2" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 mb-lg-auto mb-4 my-auto p-md-0 me-auto">
            <div class="card border-radius-top-start-lg-0 border-radius-bottom-start-lg-0">
              <div class="card-header text-center pt-4 pb-2">
                <h6 class="text-dark opacity-8 text mb-0">Advanced</h6>
                <h1 class="font-weight-bolder">
                  <small>$</small>299
                </h1>
                <div class="ps-2">
                  <span class="text-sm">per month</span>
                </div>
              </div>
              <div class="card-body mx-auto pt-0">

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">AI Agent Farm</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">4 HP Microserver gen8</span>
                  </div>
                </div>
                <div class="justify-content-start d-flex px-2 py-1 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">4 vCPU8 Threads 16GB</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">250GB SSD</span>
                    </div>
                  </div>

                <div class="justify-content-start d-flex px-2 py-1 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">2.7TB raid storage</span>
                  </div>
                </div>

                
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Ubuntu 22.04</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">SSH Access</span>
                  </div>
                </div>
                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Backup every hour</span>
                  </div>
                </div>

                <div class="justify-content-start d-flex px-2 py-1">
                  <div>
                    <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                  </div>
                  <div class="ps-2">
                    <span class="text-sm">Private GitHub Repository</span>
                  </div>
                </div>


                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">CI/CD Pipeline</span>
                    </div>
                  </div>


                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Prometheus Metrics</span>
                    </div>
                  </div>

                  <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Fully-Managed</span>
                    </div>
                  </div>

                <div class="justify-content-start d-flex px-2 py-1">
                    <div>
                      <i class="fas fa-check text-dark opacity-6 text-sm"></i>
                    </div>
                    <div class="ps-2">
                      <span class="text-sm">Premium support</span>
                    </div>
                  </div>


              </div>
              <div class="card-footer pt-0">
                <a href="/contact" class="btn w-100 bg-gradient-dark mb-0"> request demo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section class="pt-2 pb-6 bg-gray-100" id="count-stats">
    <div class="container">
      
      <div class="row">
        <div class="col-8 mx-auto text-center">
          <h6 class="opacity-5">
            The AI Agent Host is built with top open-source software</h6>
        </div>
      </div>


      <div class="row mb-7">
        


        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-docker.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-docker-compose.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-vscode.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-questdb.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-grafana.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-nginx.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-letsencrypt.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-openai.svg">
        </div>


        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-langchain.svg">
        </div>


        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-flask.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-jupyterhub.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-python.svg">
        </div>

        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-julia.svg">
        </div>


        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-r.svg">
        </div>
 


        <div class="col-lg-1 cd-md-3 col-23 mb-4">
          <img class="w-100 opacity-7" src="/static/assets/img/logos/gray-logos/logo-prometheus.svg">
        </div>

      </div>


    </div>
  </section>



  {% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
