{% extends 'layouts/base.html' %}

{% block title %} Raspberry Pi Devbox {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} AI Agent Host {% endblock body_class %}

{% block content %}

  {% include "includes/navigation-transparent.html" %}
  <!-- -------- START HEADER 2 w/ waves and typed text ------- -->

  <body>


  <iframe src="https://shop.quantiota.org" width="600" height="400" frameborder="0" allowfullscreen></iframe>


  </body>
  
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}

  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

{% endblock javascripts %}
